@font-face {
  font-family: 'Zen Old Mincho', serif;
  src: url("../../fonts/ZenOldMincho-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family:'Cinzel Decorative';
  src: url("../../fonts/CinzelDecorative-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family:'PT Serif Caption', serif;
  src: url("../../fonts/PTSerifCaption-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
