
.menu--open, .menu--open body{
  overflow: hidden;
}

.menu__entete {
  height: 300px;
  width: 100%;
  margin-top: 0;
  z-index: -4;
  margin-bottom: 88vh;
  position: absolute;
}

.menu__logo{
height: 100px;
width: 100%;
position: absolute;
z-index: -4;
margin-bottom: 85vh;

position: absolute;
}



.menu {
  
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    position: fixed;
    display: flex;
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right : 0;
    background-color: var(--clair-beige);
    font-size: 16px;
    
    transition: all .4s ease-in-out;
    
}
.menu--open {
    visibility: visible;
    opacity: 1;
}


.menu__item{
    
    text-align: center;
    font-size: 1.02rem;
    margin-top: 13%;
}

.menu__list{
    margin: 25vh 8vh 9vh 15vw;

}
nav{
    
    font-family: var(--font-cinzel);
    
    display: flex;
    align-items: center;
    justify-content: center;
 
}


.menu-btn {
    position: relative;
    z-index: 5;
    width: 40px;  
    
  }
  
  .menu-btn__bar,
  .menu-btn__bar::before,
  .menu-btn__bar::after {
    
    content: '';
    background: var(--foncé-marron2);
    height: 4px;
    width: 120%;
    position: absolute;
    left: 0;
    z-index: 10;
    border-radius: 4px;
    transition: all .4s ease-in-out;
    
    
  }
  
  .menu-btn__bar::before {
    
    width: 60%; 
    left:15px;
    top: -10px;
    border-radius: 6px; 
  }
  
  .menu-btn__bar::after {
    width: 60%;
    right:10px;
    top: 10px;
    border-radius: 6px;
  }
  
  /* Technique pour transformer les 3 barres du bouton de menu en croix
  Ne pas oublier d'ajouter une transition plus haut pour l'animation */
  .menu-btn--open .menu-btn__bar,
  .menu-btn--open .menu-btn__bar::before,
  .menu-btn--open .menu-btn__bar::after {

    transform: rotate(135deg);
  }
  
  .menu-btn--open .menu-btn__bar::before,
  .menu-btn--open .menu-btn__bar::after {
    transform: rotate(90deg);
    left:0px;
    top: 0;
    width:100%
  }

  .menu__separaison1{
    height: 1px;
    color:var(--foncé-marron2);
    width:60%;
    background-color: var(--foncé-marron2);
    border-radius: 5px;
  }

.menu__separaison2{
  height: 1px;
  color:var(--foncé-marron2);
  width:95%;
  background-color: var(--foncé-marron2);
  border-radius: 5px;
}
  
  

